
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// @import "compass";
@import "bower_components/bootswatch/paper/_variables.scss";
@import "settings/bootstrap_overrides";
$icon-font-path: "/assets/fonts/bootstrap/";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "bower_components/bootswatch/paper/_bootswatch.scss";
@import "common/icons";
@import "common/utilities";
@import "common/search_fake_tables";
// Settings and mixins
// @import "settings/colors.scss";

// Common styles
// @import "common/header.scss";


//Specific styles - Please keep to minimum

.form-group{
  hr{
    border-bottom: none !important;
    border-top: none !important;
  }
}

.actions{
  padding:0;
}

